node_modules/
bin/
dist/
build/
public/
newman/
build/
tests/functional/test_env/
.idea
.DS_Store
venv

.#*

__pycache__/
.envrc
.vscode
.mypy_cache

tests/test-report.xml
tests/functional-test-report.xml
