node_modules/
bin/
dist/
build/
public/
newman/
build/
tests/functional/test_env/
.idea
.DS_Store
venv
.direnv
.#*
.env
*.code-workspace
.tool-versions
.venv

__pycache__/
.envrc
.vscode
.mypy_cache

tests/test-report.xml
tests/functional-test-report.xml
.orig
tests/docker.env
tests/*.key
tests/.pytest_cache


keys.zip
ssocli-bundle.zip

scripts/custom_attribute_reporter/output/

ID_TOKEN_NHS_LOGIN_PRIVATE_KEY
JWT_TESTING_PRIVATE_KEY
JWT_TESTING_WITH_ASID_PRIVATE_KEY
keys/

# Karate ignores
**/target/**
karate.jar

newman-test-report.xml
git
keys.zip:Zone.Identifier
tests/scripts/get_token
tests/scripts/acurl
tests/scripts/install
