[project]
python = "^3.8"


[tool.poetry]
name = "apim-definitions"
version = "0.0.1-alpha"
description = "FHIR PDS API Definitions"

license = "MIT"

authors = [
    "Laurence Pakenham-Smith <laurence.smith2@nhs.net>",
    "Alex Hawdon <alex.hawdon1@nhs.net>",
    "Tony Heap <tony.heap1@nhs.net>"
]

readme = 'README.md'

repository = "https://github.com/NHSDigital/personal-demographics-service-api"
homepage = ""

keywords = ["healthcare", "uk", "nhs", "demographics"]


[tool.poetry.dependencies]
python = "^3.8"
pyyaml = "^5.2"
docopt = "^0.6.2"
jsonpath-rw = "^1.4.0"
semver = "^2.10.2"
gitpython = "^3.1.8"
requests = "^2.24.0"
locust = "^1.3"
pytest-bdd = "^4.0.1"
pyjwt = "^1.7.1"
cryptography = "^3.2.1"


[tool.poetry.dev-dependencies]
flake8 = "^3.8.3"
black = "^20.8b1"
pip-licenses = "^2.3.0"
jinja2 = "^2.11.2"
pytest = "^6.1.2"


[tool.poetry.scripts]
