requests
pytest
pytest-xdist
pytest-sugar
pyjwt
cryptography
python-dotenv
pytest-rerunfailures
https://github.com/NHSDigital/apim-test-utils/releases/download/v1.0.86-alpha/api_test_utils-1.0.86a0-py3-none-any.whl
pytest-bdd