 {
	"id": "343003bb-932d-4012-aa2c-420a3580c169",
	"name": "{{ ENV_NAME }}",
	"values": [
		{
			"key": "environment",
			"value": "{{ ENV_URL }}",
			"enabled": true
		},
		{
			"key": "role_id",
			"value": "{{ ENV_ROLE_ID }}",
			"enabled": true
		},
		{
			"key": "from_asid",
			"value": "{{ ENV_ASID }}",
			"enabled": true
		},
		{
			"key": "user_id",
			"value": "{{ ENV_USER_ID }}",
			"enabled": true
		},
		{
			"key": "asidHeader",
			"value": {
				"key": "NHSD-ASID",
				"value": "{{ ENV_ASID }}"
			},
			"enabled": true
		},
		{
			"key": "identityUUIDHeader",
			"value": {
				"key": "NHSD-Identity-UUID",
				"value": "{{ ENV_NHS_ID_UUID}}"
			},
			"enabled": true
		},
		{
			"key": "sessionURIDHeader",
			"value": {
				"key": "NHSD-Session-URID",
				"value": "{{ ENV_ROLE_ID }},"
			},
			"enabled": true
		},
		{
			"key": "jwt",
			"value": "",
			"enabled": true
		},
		{
			"key": "token",
			"value": "",
			"enabled": true
		}
	],
	"_postman_variable_scope": "environment",
	"_postman_exported_at": "2020-04-16T15:22:55.714Z",
	"_postman_exported_using": "Postman/7.22.1"
}