{
  "id": "977a42c3-cc2e-413f-8328-62bcb2812bf9",
  "name": "{{ENVIRONMENT}}",
  "values": [
    {
      "key": "environment",
      "value": "{{API_TEST_URL}}",
      "enabled": true
    },
    {
      "key": "expected_response",
      "value": {
        "address": [
          {
            "extension": [
              {
                "extension": [
                  {
                    "url": "type",
                    "valueCoding": {
                      "code": "PAF",
                      "system": "https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType"
                    }
                  },
                  {
                    "url": "value",
                    "valueString": "12345678"
                  }
                ],
                "url": "https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey"
              }
            ],
            "id": "123",
            "line": [
              "1 Trevelyan Square",
              "Boar Lane",
              "City Centre",
              "Leeds",
              "West Yorkshire"
            ],
            "period": {
              "end": "2020-12-31",
              "start": "2020-01-01"
            },
            "postalCode": "LS1 6AE",
            "use": "work"
          }
        ],
        "birthDate": "2010-10-22",
        "deceasedDateTime": "2010-10-22T00:00:00+00:00",
        "extension": [
          {
            "url": "https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NominatedPharmacy",
            "valueReference": {
              "identifier": {
                "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                "value": "Y12345"
              }
            }
          },
          {
            "url": "https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-PreferredDispenserOrganization",
            "valueReference": {
              "identifier": {
                "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                "value": "Y23456"
              }
            }
          },
          {
            "url": "https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-MedicalApplianceSupplier",
            "valueReference": {
              "identifier": {
                "system": "https://fhir.nhs.uk/Id/ods-organization-code",
                "value": "Y34567"
              }
            }
          },
          {
            "extension": [
              {
                "url": "deathNotificationStatus",
                "valueCodeableConcept": {
                  "coding": [
                    {
                      "code": "2",
                      "display": "Formal - death notice received from Registrar of Deaths",
                      "system": "https://fhir.hl7.org.uk/CodeSystem/UKCore-DeathNotificationStatus",
                      "version": "1.0.0"
                    }
                  ]
                }
              },
              {
                "url": "systemEffectiveDate",
                "valueDateTime": "2010-10-22T00:00:00+00:00"
              }
            ],
            "url": "https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-DeathNotificationStatus"
          },
          {
            "url": "https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSCommunication",
            "extension": [
              {
                "url": "language",
                "valueCodeableConcept": {
                  "coding": [
                    {
                      "system": "https://fhir.nhs.uk/R4/CodeSystem/UKCore-AdditionalRelatedPersonRole",
                      "version": "1.0.0",
                      "code": "fr",
                      "display": "French"
                    }
                  ]
                }
              },
              {
                "url": "interpreterRequired",
                "valueBoolean": true
              }
            ]
          }
        ],
        "gender": "female",
        "generalPractitioner": [
          {
            "id": "254406A3",
            "identifier": {
              "system": "https://fhir.nhs.uk/Id/ods-organization-code",
              "value": "Y12345",
              "period": {
                "start": "2020-01-01",
                "end": "2021-01-01"
              }
            },
            "type": "Organization"
          }
        ],
        "id": "9000000009",
        "identifier": [
          {
            "extension": [
              {
                "url": "https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-NHSNumberVerificationStatus",
                "valueCodeableConcept": {
                  "coding": [
                    {
                      "code": "01",
                      "display": "Number present and verified",
                      "system": "https://fhir.hl7.org.uk/CodeSystem/UKCore-NHSNumberVerificationStatus",
                      "version": "1.0.0"
                    }
                  ]
                }
              }
            ],
            "system": "https://fhir.nhs.uk/Id/nhs-number",
            "value": "9000000009"
          }
        ],
        "meta": {
          "versionId": "2"
        },
        "name": [
          {
            "family": "Smith",
            "given": [
              "Jane"
            ],
            "period": {
              "end": "2020-12-31",
              "start": "2020-01-01"
            },
            "prefix": [
              "Mrs"
            ],
            "suffix": [
              "MBE"
            ],
            "use": "usual"
          }
        ],
        "resourceType": "Patient",
        "telecom": [
          {
            "period": {
              "end": "2020-12-31",
              "start": "2020-01-01"
            },
            "system": "phone",
            "use": "work",
            "value": "01632960587"
          }
        ]
      },
      "enabled": true
    }
  ],
  "_postman_variable_scope": "environment",
  "_postman_exported_at": "2020-02-17T15:12:43.991Z",
  "_postman_exported_using": "Postman/7.18.0"
}
