{
  "id": "977a42c3-cc2e-413f-8328-62bcb2812bf9",
  "name": "{{ENVIRONMENT}}",
  "values": [
    {
      "key": "environment",
      "value": "{{API_TEST_URL}}",
      "enabled": true
    }
  ],
  "_postman_variable_scope": "environment",
  "_postman_exported_at": "2020-02-17T15:12:43.991Z",
  "_postman_exported_using": "Postman/7.18.0"
}
